.advantages{
  display: flex;
    flex-direction: column;
    width:320px;
}
.advantages__item{
  background-color: @blue-back;
  color: @white-text;
}
.advantages__item--background-color-grey{
  background-color: @light-back;
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
}
.advantages__item--background-color-grey:not(:last-child){
  border-bottom: 1px solid @grey-border;
}
.advantages__title{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @white-text;

}
.advantages__title--background-color-grey{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
}
.advantages__number{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @white-text;
}
.advantages__number--background-color-grey{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
}
.advantages__describe{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @white-text;

}
.advantages__describe--background-color-grey{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
}
.advantage-arguments__item{
  background: @white-text;
  text-transform: uppercase;
  color: @grey-text;
}
.advantage-arguments__item--housing{
  margin-top:23px;
}
.advantage-arguments__name{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
}
.advantage-arguments__text{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 40px;
  color: @grey-text;
}
.advantages__list{
  display:flex;
  flex-direction: column;
  align-items: center;
  list-style-type:none;
  margin:0;
  padding:0;
  width:320px;
}
.advantage-arguments__list{

  list-style-type:none;
  margin:0;
  padding:0;
  margin-bottom: 52px;
}
.advantage-arguments__container{
  display:flex;
  align-items: center;
}
.advantages__slogan{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
  margin-top: 32px;
}
.advantages__intro{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
  margin-bottom: 16px;
}
@media (min-width: @tablet-width){
  .advantages{
    display: flex;
    flex-direction: row;
    width:768px;
  }
  .advantages__list{

    width:768px;
  }
  .advantage-arguments__list{
    display:flex;
    flex-direction: row;
    width:768px;
  }
  .advantages-container{
    display:flex;
    flex-direction: row;
    width:768px;
  }
  .logo__triangle-down{
    display:none;
  }
  .advantages__header{
    width:520px;
    margin:0 auto;
  }
}
@media (min-width: @desktop-width){
  .advantages{
    width:1200px;
  }
  .advantages-container{
    width:1200px;
  }
  .advantages__list{

    width:1200px;
  }
  .advantage-arguments__list{

    width:1200px;
  }
  .advatages__wrapper{

    width:1200px;
  }
}
