.booking{
  background-color:@white-text;

}
.booking__title{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
  margin-top: 38px;
}
.booking__describe{
  font-family: 'PT Sans, Arial, sans-serif';
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
  margin-bottom: 32px;
}
.booking__wrapper{
  display: flex;
  flex-direction: column;
  width: 320px;
}
@media (min-width: @tablet-width){
  .booking__wrapper{
    width: 435px;
  }

}
