.button{
  background: #81B3D2;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.booking__button{
  padding-top: 21px;
  padding-bottom: 21px;
  margin-bottom: 48px;
}
