.catalog{
  background-color:@white-text;
  text-align: center;
}
.catalog__title{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
}
.catalog__slogan{
  font-family: 'PT Sans, Arial, sans-serif';
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
  margin-bottom: 38px;
}
.catalog-cards__title{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @black-text;
}
.catalog-cards__autor{
  font-family: 'PT Sans, Arial, sans-serif';
  font-size: 14px;
  line-height: 21px;
  color: @grey-text;
}
.catalog-cards__like{
  font-family: 'PT Sans, Arial, sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @black-text;
}
.catalog-cards__list{
  display:flex;
  flex-direction: column;
  list-style-type:none;
  margin:0;
  padding: 0;
}
.catalog-cards__wrapper{
  text-align: left;
  align-items: center;
}
.catalog-cards__item{
  padding-top:24px;
  padding-bottom: 25px;
  border-bottom: 1px solid @light-border;
}
.catalog-cards__item:first-child{
  border-top: 1px solid @light-border;
}
.catalog-cards__like-container{
  display:flex;
  align-items: baseline;
}
.catalog__header{
  margin-bottom:25px;
}
