.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @white-text;
  text-align: center;
}

.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
  margin-bottom: 30px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 36px;
  }
}

.catalog__slogan {
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 87px;
  }
}

.catalog-cards__title {
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: @black-text;
  margin: 0;
  font-size: 14px;

  @media (min-width: @desktop-width) {
    color: @white-text;
  }
}

.catalog-cards__autor {
  line-height: 21px;
  color: @grey-text;
  margin: 0;

  @media (min-width: @desktop-width) {
    color: @white-text;
  }
}

.catalog-cards__like {
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: @black-text;
  margin-left: 14px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @desktop-width) {
    color: @white-text;
  }
}

.catalog-cards__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    max-width: 648px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}

.catalog-cards__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    max-width: 100%;
  }
}

.catalog-cards__item {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid @light-border;
  margin: 0;

  &:first-child {
    border-top: 1px solid @light-border;

    @media (min-width: @tablet-width) {
      width: 100%;
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.catalog-cards__like-container {
  display: flex;
  align-items: baseline;

  @media (min-width: @tablet-width) {
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    margin-right: 20px;
  }
}

.catalog__header {
  margin-bottom: 25px;
  margin-top: 37px;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    min-width: 472px;
    margin-top: 66px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 100px;
  }
}

.catalog__video-wrapper {
  max-width: 266px;
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    max-width: 445px;
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 62px;
  }
}

.catalog-cards__image {
  display: block;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.catalog-cards__image--width {
  @media (min-width: @tablet-width) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 400px;
  }
}

.catalog-cards__title-autor-container {
  margin-top: 15px;
  margin-bottom: 11px;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.container-catalog {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 20px;
    padding-left: 20px;
    background-color: @white-back;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 100%;
    background: @black-text;
    mix-blend-mode: normal;
    background-color: @black-op03;
    bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }

  &--background {
    @media (min-width: @tablet-width) {
      background-color: @catalog-back;
    }

    @media (min-width: @desktop-width) {
      background: @black-text;
      mix-blend-mode: normal;
      background-color: @black-op03;
    }
  }
}

.catalog-cards__svg {
  fill: @black-text;
  opacity: 0.3;

  @media (min-width: @desktop-width) {
    fill: @white-text;
    opacity: 1;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__video {
  display: block;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    width: 648px;
    height: 500px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 84px;
    width: 800px;
    height: 500px;
  }
}
