.review__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black-text;
  margin: 0;
  padding-top: 24px;
  text-align: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-top: 0;

    &--line {
      background-image: url("../img/line.svg"), url("../img/line.svg");
      background-repeat: no-repeat;
      background-position: center right -1vw, center left -1vw;
      background-size: 16vw 1px;
    }

    &--font-size {
      @media (min-width: @tablet-width) {
        font-size: 30px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--line {
      background-size: 16vw 2px;
    }
  }
}

.review__slogan {
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @grey-text;
  margin: 0;
  padding-top: 4px;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    margin-top: 38px;
  }
}

.review__introduce-name {
  line-height: 21px;
  text-transform: uppercase;
  color: @grey-text;
}

.review__introduce-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black-text;
  background-color: @white-back;
  padding: 16px;
  border: none;
  margin-bottom: 16px;

  @media (min-width: @desktop-width) {
    padding-right: 170px;
  }

  &:hover {
    background-color: @light-border;
  }

  &:focus {
    background-color: @white-text;
    outline: 4px solid @light-border;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: @black-op03;
  }
}

.review__contact-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black-text;
  padding: 16px;
  background-color: @white-back;
  border: none;
  margin-bottom: 16px;

  @media (min-width: @desktop-width) {
    padding-right: 116px;
  }

  &:hover {
    background-color: @light-border;
  }

  &:focus {
    background-color: @white-text;
    outline: 4px solid @light-border;
  }

  &::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: @black-op03;
  }
}

.review__impression-title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black-text;
  padding-left: 62px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    max-width: 234px;
  }

  &:hover {
    .review-radiobutton {
      background-color: @light-border;
      transition: background-color 0.4s;
    }
  }

  &:active {
    .review-radiobutton {
      background-color: @active-elem;
      transition: background-color 0.4s;
    }

    .review-radiobutton::before {
      background-color: @active-radio;
    }
  }
}

.review__impression-input {
  display: none;
  padding: 15px;
  background-color: @white-back;
}

.review__showplace-title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black-text;
  padding-left: 60px;
  cursor: pointer;
}

.review__showplace-input {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: @white-back;
  display: none;
}

.review__emotion-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @black-text;
  padding: 16px;
  background-color: @white-back;
  border: none;
  margin-bottom: 56px;
  min-width: 247px;
  min-height: 118px;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    min-width: 648px;
    min-height: 160px;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    min-width: 768px;
  }
}

.review__legend {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: @rgba-grey;
  margin: 0;
  text-align: right;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    color: @grey-text;
  }
}

.review__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid @light-border;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    border-top: 0;
    margin-bottom: 64px;
  }
}

.review__container-impression {
  display: flex;
  margin-bottom: 22px;
  padding-bottom: 11px;
  padding-top: 11px;
  align-items: baseline;

  @media (min-width: @tablet-width) {
    margin-right: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.review__header {
  padding-top: 12px;
  padding-bottom: 28px;
  max-width: 306px;

  @media (min-width: @tablet-width) {
    max-width: 434px;
    padding-top: 64px;
    padding-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 115px;
    padding-bottom: 67px;
  }
}

.review__container-intoduce {
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
  border-bottom: 1px solid @light-border;

  @media (min-width: @tablet-width) {
    padding-right: 43px;
    border-right: 1px solid @border-tablet;
    border-bottom: 0;
    margin-bottom: 48px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.review__container-contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 44px;
    margin-bottom: 48px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.review__container-showplace {
  display: flex;
  margin-bottom: 16px;
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    min-width: 224px;
  }
}

.review__contact-icon {
  background: @another-back;
  padding: 20px;
}

.review__email-icon {
  background: @another-back;
  padding: 20px;
}

.container-introduce-contact {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    max-width: 960px;
  }
}

.container-impression {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    max-width: 576px;
    flex-wrap: wrap;
    margin-bottom: 32px;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    max-width: 854px;
    margin-bottom: 56px;
    margin-top: 45px;
  }
}

.container-showplace {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
    justify-content: space-between;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    max-width: 960px;
    margin-bottom: 56px;
    margin-top: 59px;
  }
}

.container-send-form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 648px;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    min-width: 768px;
  }
}

.modal-container {
  text-align: center;
}

/*
.review-mark {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: black;
  border-radius: 50%;
  left: -16px;
  top: -10px;
  margin-right: 16px;
}

.review__impression-input[type="radio"] + .review-mark {
  border-radius: 50%;
}
.review__impression-input[type="radio"]:checked + .review-mark::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  content: "";
  transition: width 0.3s, height 0.3s;
}
*/

.review__impression-input:checked + .review-radiobutton::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: @grey-text;
  position: absolute;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-radiobutton {
  position: absolute;
  background-color: @white-back;
  width: 46px;
  height: 46px;
  border-radius: 50px;
  align-self: center;
}

.review__showplace-input:checked + .review-checkbox::before {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
  content: "";
}

.review-checkbox {
  position: absolute;
  background-color: @white-back;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  align-self: center;
}
