@white-text: #FFFFFF;
@light-back: #EEEEEE;
@blue-back: #81B3D2;
@black-text: #000000;
@grey-border: #D6D6D6;
@grey-text: #333333;
@light-border: #E5E5E5;
@white-back: #F2F2F2;
@rgba-grey: rgba(51, 51, 51, 0.6);
@another-back: #E6E6E6;
@border-tablet: #DBDBDB;
@catalog-back: #EAEAEA;
@active-site: #766357;
